<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Security-Policy" content="
            default-src 'self';
            script-src 'self';
            style-src 'self';
            img-src 'self';
            font-src 'self';
            ">
        <title>Bookify: Add/Edit book</title>
        <link th:rel="stylesheet" th:href="@{/stylesheet.css}" />
        <link th:rel="icon" th:href="@{/icon.png}">
    </head>
    <body>
        <h1><a th:href="@{/}">Bookify</a></h1>
        <h2>Add/Edit book</h2>
        <form th:object="${book}" th:action="${redirectionUrl}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="hidden" th:field="*{id}">
            <table>
                <tr>
                    <td>Title:</td>
                    <td><input maxlength="200" type="text" th:field="*{title}" th:value="${title}" size="50" required></td>
                </tr>
                <tr>
                    <td>Author:</td>
                    <td><input maxlength="100" type="text" th:field="*{author}" th:value="${author}" size="50" required></td>
                </tr>
                <tr>
                    <td>Type:</td>
                    <td>
                        <select id="bookType" name="bookType" required>
                            <option value="">Select type</option>
                            <option th:each="type : ${T(hr.algebra.bookify.webapp.model.BookType).values()}" th:selected="${type == book.type}" th:value="${type}" th:text="${type}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Release date:</td>
                    <td><input type="date" th:field="*{releaseDate}" required></td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td><input type="number" th:field="*{price}" step="0.01" required></td>
                </tr>
            </table>
            </br>
            <input type="submit" value="Save">
        </form>
        <br>
        <a th:href="@{/book}"><button>Cancel</button></a>
    </body>
</html>
