<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Security-Policy" content="
            default-src 'self';
            script-src 'self';
            style-src 'self';
            img-src 'self';
            font-src 'self';
            ">
        <title>Bookify: Book list</title>
        <link th:rel="stylesheet" th:href="@{/stylesheet.css}" />
        <link th:rel="icon" th:href="@{/icon.png}">
    </head>
    <body>
        <h1><a th:href="@{/}">Bookify</a></h1>
        <h2>Book list</h2>
        <form th:action="@{/book/getById}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="text" name="id" placeholder="Enter Book ID">
            <button type="submit">Get Book by ID</button>
        </form>
        <br/>
        <a th:href="@{/book}"><button>Get all books</button></a>
        <br/>
        <br/>
        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Type</th>
                <th>Release Date</th>
                <th>Price</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="book : ${books}">
                <td th:text="${book.id}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.type}"></td>
                <td th:text="${book.releaseDate}"></td>
                <td th:text="${book.price}"></td>
                <td>
                    <a th:href="@{/book/edit/{id}(id=${book.id})}"><button>Edit</button></a>
                </td>
                <td>
                    <form th:action="@{/book/delete/{id}(id=${book.id})}" method="get">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        </table>
        <br/>
        <a href="/book/new"><button>New Book</button></a>
        <br/>
        <br/>
        <a href="/book/export"><button>Export all books</button></a>
        <br/>
        <br/>
        <form th:action="@{/book/import}" method="post" enctype="multipart/form-data">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button type="submit">Import books from disk</button>
            <input type="file" name="file" />
        </form>
        <br/>
        <br/>
        <a th:href="@{/logout}"><button>Log out</button></a>
    </body>
</html>
